p {
    color: darkblue;
}


#motto {
    text-align: right; 
    font-size: 30px;
    margin-right: 3em;
}
#motto span {
    font-weight: bold;
}

.favorite {
    font-weight: bold; 
    color: hsl(163, 79%, 30%);
}

#top-menu-bar {
  font-size: 1.5em;
    text-align: center;
    background-color: #334455;
    color: #fff;
}

#top-menu-bar li {
    display: inline;
    margin: 0;
    padding: 0;
}

#top-menu-bar a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    /* margin: 0 15px; */
    color: #fff;

}

#top-menu-bar a:visited {
    color: #fff;
}

#top-menu-bar a:hover {
    color: #334455;
    background-color: #fff;
}


  html {
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f6f5ff;
  }

  #content {
    flex: 1;
  }

  #content {
    display: flex;
    flex-direction: row;
  }
  #side-menu {
    flex: 1;
    margin: 1em ;
  }
  #main {
    flex: 2;
    margin:0 2em;
  }

  form {
    background-color: rgb(226, 222, 254);
    border:1px solid rgb(18, 6, 97) ;
    border-radius: 0.5em;
    align-self: center;
    height: 2em;
    padding: 1.3em 2em 1em 2em;
    margin-top: 1em;
    font-size: 1em;
  }

  button {
    background: rgb(18, 6, 97);
    color: #e3ab29;
    border: 2px solid;
    padding: 0.3em 1.8em;
    font-size: 0.8em;
    transition: all 0.2s;
  }

  button:hover {
    border-color: #e4ef4c;
    color: #e4ef4c;
    box-shadow: 0 0.5em 0.5em -0.4em #e4ef4c;
    transform: translateY(-0.25em);
    cursor: pointer;
  }

  .page {
    display: none;
    width: 90%;
    /* border: 2px solid red; */
    background-color: rgb(253, 253, 253);
    margin-bottom: 1.6rem;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px  rgb(50,50,50);
    padding: 1.6rem;
    
  }

  .page h2 {
    margin-top: 0;
  }

  #header-wrapper {
    display: flex;
  }
  #header-info {
    flex: 1;
  }

  #avatar {
    margin: 1em;
  }

  .page.visible {
    display: block;
  }

  .page.invisible {
    display: none;
  }